*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
    box-sizing: border-box;
}
body{
    background: white;
    color: #080808;
}
/* #header{
    width: 100%;
    height: 100vh;
    background: url('images/bg.jpg') ;
    background-size:cover;
    background-position: center;
} */

.container{
    padding: 10px 10%;
}

nav li{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;

}

nav a{
    text-decoration: none;
    display: inline-block;
    color: #080808;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li a{
    position: relative;
}

nav li a h1{
    color: #002fa7     ;
    font-size: 40px;
}

nav ul li a::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #002fa7  ;
    position: absolute;
    left: 0;
    bottom: -6px;
}

nav ul li a:hover::after{
    width: 100%;
    transition: 0.5s;
}

.header_content{
    margin-top: 20px;
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 65px;
}

.header_img{
    width: 400px;
    height: 400px;
    background: url('images/bg1.jpg') ;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 50%; 
    /* position: fixed; */
}

.body_text{
    width: 40%;
    line-height: 30px;
    margin-left: 100px;
}

.body_text h1{
    margin-bottom: 10px;
    font-size: 40px;
}

.body_text h1 span{
    color: #002fa7  ;
}




/* About-------------------------------------------------- */
#about{
    padding: 80px 0;
    color: #080808;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.about-col-1{
    flex-basis: 35%;
    /* height: 400px; */
}

.about-col-1 img{
    width: 90%;
    height: 550px;
    margin-top: 16px;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.subtitle {
    font-size: 50px;
    color: #002fa7  ;
    font-weight: 600;
}

.about-col-2 p{
    margin-top: 20px;
    line-height: 30px;
}
.tab-titles{
    display: flex;
    margin: 15px 0 20px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #002fa7 ;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 80%;
}

.tab-contents ul li{
    list-style-type: none;
    margin: 10px 0;
    line-height: 30px;
}

.tab-contents ul li span{
    color: #002fa7 ;
    font-weight: 600;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}




/* Portfolio */
#portfolio{
    padding: 50px 0;
    color: #080808;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 400px;
}

.project img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
    transition: transform 0.5s;
}

.layer{
    color: #ffffff;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #080808);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    line-height: 25px;
}

.layer h3{
    font-weight:700;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.project:hover img{
    transform: scale(1.1);
}

.project:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #080808;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #080808;
}

.btn:hover{
    background: #002fa7 ;
    color: #ffffff;
}


/* Contact --------------------------------------------------------------------- */
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p svg{
    color: #080808;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    margin-right: 15px;
    font-size: 30px;
    color: #080808;
    display: inline-block;
    transition: transform 0.5s;
    transition: color 0.3s;
}

.social-icons a:hover{
    color: #002fa7 ;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background-color: #002fa7 ;
    color: #ffffff;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border: 0;
    outline: none;
    border-radius: 6px;
    font-size: 18px;
    background-color: #f3f3f3;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copy_right{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 300;
    margin-top: 20px;
}

nav svg{
    display: none;
}

/* Responsive---------------------------------------------------- */
@media only screen and (max-width: 600px){
    .header_content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column-reverse;
        margin-top: 65px;
    }

    nav li a h1{
        color: #002fa7;
        font-size: 30px;
    }
     

    .header_img{
        width: 300px;
        height: 300px;
        margin-bottom: 20px;
    }

    .body_text{
        width: 100%;
        margin-left: 0;
    }

    .body_text h1{
        font-size: 25px;
    }

    .body_text p{
        font-size: 16px;
    }

    .about-col-1{
        flex-basis: 100%;
    }

    .about-col-1 img{
        width: 70%;
        height: 350px;
        display: none;
    }

    .about-col-2{
        flex-basis: 100%;
    }

    .about-col-2 h1{
        font-size: 30px;
    }

    .about-col-2 p{
        font-size: 14px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    /* .tab-titles{
        flex-direction: column;
    } */

    .project-list{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .project img{
        height: 400px;
    }

    .layer h3{
        font-size: 18px;
    }

    .layer a{
        font-size: 16px;
    }

    .contact-left{
        flex-basis: 100%;
    }

    .contact-right{
        flex-basis: 100%;
    }

    .social-icons{
        text-align: center;
    }

    .social-icons a{
        margin-right: 10px;
    }

    .contact-right form{
        width: 100%;
    }

    form input, form textarea{
        width: 100%;
    }

    .copy_right{
        font-size: 14px;
    }

    nav svg{
        display: block;
        cursor: pointer;
        color: #ffffff;
    }

    nav ul{
        background-color: #080808;
        position: fixed;
        width: 200px;
        height: 100vh;
        top: 0;
        right: -200px;
        padding-top: 50px;
        color: #ffffff;
        transition: right 0.5s;
        z-index: 1;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }


    nav ul svg{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    nav li a{
        color: #ffffff;
    }
}


#msg{
    color: #002fa7;
    margin-top: -40px;
    display: block;
}

#animatedHeader, #about_text, #tab-titles, #skills, #header_img, #about_img, #header_txt1, #header_txt2, #subtitle, #project-title{
    opacity: 0; /* Hide initially */
    animation-duration: 1.1s;
}

#about_text{
    animation-delay: 0.1s;
}

#tab-titles{
    animation-delay: 0.2s;
}

#skills{
    animation-delay: 0.3s;
}

#header_img, #about_img{
    animation-duration: 2s;
}